// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global Parameters ----
params {
  analysis = null
  run = null
  plates = null
  dev = false
  number_of_inputs = 2
  sample_map = null
  s3_path = { params.dev ? "seqwell-dev/analysis" : "seqwell-analysis" }()
}

// ---- Profiles Section ----
profiles {

  // ---- CI/CD or Local Docker test profile ----
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
      dev = true
      sample_map = "test_data/sample_map.tsv"
      analysis = "test-analysis"
      run = "test-run"
      plates = "test-plate"
    }
  }

  // ---- Production profile using AWS Batch ----
  awsbatch {

    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

    aws {
      accessKey = '*'
      secretKey = '*'
      region = 'us-east-2'
    }

    process {

      withName: 'DOWNSAMPLE' {
        executor = 'awsbatch'
        container = 'cautree/seqtk:latest'
        memory = 6.GB
        cpus = 2
        queue = 'spot_low_priority'
      }

      withName: 'FASTP' {
        executor = 'awsbatch'
        container = 'seqwell/fastp:v0.20.1_cv1'
        memory = 6.GB
        queue = 'spot_low_priority'
      }

      withName: 'BBREPAIR' {
        executor = 'awsbatch'
        container = 'seqwell/fq_assemble:v1.0'
        memory = 6.GB
        queue = 'spot_low_priority'
      }

      withName: 'SPADES' {
        executor = 'awsbatch'
        container = 'cautree/spades:latest'
        cpus = 8
        memory = 30.GB
        queue = 'spot_low_priority'
      }

      withName: 'QUAST' {
        executor = 'awsbatch'
        container = 'cautree/quast:latest'
        memory = 6.GB
        cpus = 2
        queue = 'spot_low_priority'
      }

      withName: 'SUMMARIZE_QUAST' {
        executor = 'awsbatch'
        container = 'cautree/awk_sed:latest'
        memory = 6.GB
        queue = 'spot_low_priority'
      }

      withName: 'SUMMARIZE_BUSCO' {
        executor = 'awsbatch'
        container = 'cautree/awk_sed:latest'
        memory = 6.GB
        queue = 'spot_low_priority'
      }

      withName: 'BUSCO' {
        executor = 'awsbatch'
        container = 'seqwell/busco:5.7.1'
        memory = 15.GB
        cpus = 4
        queue = 'spot_low_priority'
      }

    } // end process

  } // end awsbatch

} // end profiles
